#!/usr/bin/make -f

NAME=cloudbackup-updater
PY_MODULE=cloudbackup_updater

%:
	dh $@

build:
	zip -r ${NAME}.zip ${PY_MODULE}

override_dh_clean:
	dh_clean
	rm -f ${NAME}.zip

override_dh_auto_build:

override_dh_auto_install:

override_dh_auto_clean:
